#globe {
    position: absolute;
    z-index: -10;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: 'MetropolisLight';
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8%;
    padding-top: 2em;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 2.4em;
}
nav h1 {
    margin: 0;
    top: -0.4em;
    font-size: 1.5em;
    left: 0;
    margin-left: 0.3em;
}
nav button {
    padding-top: -0.8em;
    padding-right: 2em;
    color: white;
    font-family: 'MetropolisSemiBold';
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.2em;
}
nav button:hover {
    color: #cfeaff;
}
h1 {
    font-family: 'MetropolisSemiBold';
    display: inline-block;
    position: relative;
}
h2 {
    font-family: 'MetropolisRegular';
    font-weight: normal;
}
#landingLinks {
    float: right;
    margin-right: 8%;
}
.landingHeading {
    position: absolute;
    padding-top: 30vh;
    padding-left: 10vw;
}
.landingLinks {
    display: block;
    float: right;
    margin-right: 8%;
}
.heading {
    font-size: calc(2vw + 1vh + 1vmin);
    margin-bottom: 1vw;
}
.headingCaption {
    font-family: 'MetropolisLight';
    font-size: calc(1vw + 0.6vh + 0.6vmin);
    margin-top: 0;
}
.hamburger {
    display: none;
    padding-right: 8%;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (orientation: landscape) {
}
@media (orientation: portrait) {
    #station {
        max-height: 50%!important;
    }
  .heading {
      display: none;
  }
  .headingCaption {
      display: none;
  }
}
@media only screen and (max-width: 780px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .landingLinks {
        display: none;
    }

}
@media only screen and (max-width: 500px) {
    #station-info-label {
        font-size: 15px!important;
    }

    #current-view, #time-lapse, #station-data {
        font-size: 12px!important;
    }

}
.blueAccent {
    color: rgb(79, 179, 255);
}
.yellowAccent {
    color: #d09f0c;
}
#station {
    z-index: 1;
    position: absolute;
    left: 10vw;
    top: 50%;
    max-width: 40%;
    max-height: 40%;
    display: none;
}

#time-lapse {
    color: white;
}

#station-picture {
    position: relative;
}

#station-info-label {
    flex: 3;
    color: white;
    font-size: 20px;
}

#station-image {
    z-index: 1;
    position: relative;
    width: 100%;
    object-fit: contain;
}

#current-view {
    color: #b38f00;
}

#current-view, #time-lapse {
    font-size: 15px;
}

#stationActions {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.item {
    flex: 1;
}

#close-station {
    font-weight: bold;
    z-index: 999;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 7px 0 0;
    font-size: 20px;
    transition: 0.5s;
}

#close-station:hover {
    top: 0px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}

#station-image-overlay {
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
}

#station-frame-parent {
    height: inherit;
    width: inherit;
    position: relative;
}

#info-btn {
    flex: 1;
    text-align: left;
    color: white;
    cursor: pointer;
}

#stationLableWrapper p {
    margin: 0;
    padding: 20px 0 5px 0;
    font-size: 20px;
}

#station-data {
    flex: 3;
    color: white;
    display: block;
    margin: auto;
    padding: 5px;
}
#station-data p {
    margin: 5px 0 3px 0;
}
.br {
    display: block;
    margin-bottom: 1em;
}
#station-data br {
    margin-bottom: -.2em;
}
.station-data-block {
    margin-bottom: 10px;
}

.image-overlay-off {
    display: none;
}
