body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8%;
    padding-top: 2em;
    width: 92%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 2.4em; 
}
nav h1 {
    margin: 0;
    top: -0.4em;
    font-size: 1.5em;
    left: 0;
    margin-left: 0.3em; 
}
nav button {
    padding-top: -0.8em;
    padding-right: 2em;
    color: white;
    font-family: 'MetropolisSemiBold';
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.2em; 
}
nav button:hover {
    color: #cfeaff;
}
h1 {
    font-family: 'MetropolisSemiBold';
    display: inline-block;
    position: relative;
}
h2 {
    font-family: 'MetropolisRegular';
    font-weight: normal;
}
#globe {
    position: absolute;
    z-index: -10;
}
.landingHeading {
    position: absolute;
    padding-top: 30vh;
    padding-left: 10vw;
}
.landingLinks {
    display: block;
    float: right;
    margin-right: 8%;
}
.heading {
    font-size: calc(2vw + 1vh + 1vmin);
    margin-bottom: 1vw;
}
.headingCaption {
    font-family: 'MetropolisLight';
    font-size: calc(1vw + 0.6vh + 0.6vmin);
    margin-top: 0;
}
.hamburger {
    display: none;
    padding-right: 8%;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (orientation: landscape) {
}
@media (orientation: portrait) {
  .heading {
      display: none;
  }
  .headingCaption {
      display: none;
  }
}
@media only screen and (max-width: 780px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .landingLinks {
        display: none;
    }

}
.blueAccent {
    color: rgb(79, 179, 255);
}